html,body {
    height: 75%;
    width: 75%;
}

@media screen and (max-width: 750px) {
    html, body {
        background-color: #4a91ff;
        height: 100%;
        width: 100%;
    }
}

.divWrapper {
    width:100%;
    height:100%;
    background-color: #e57554;
    margin-top:-10px;
    margin-left:-10px;
}

.imageWrapperLeft {
    width: 100%;
    height: 33.33%;
    display:flex;
    /*align-items:center;*/
    /*justify-content:center;*/
    /*border: 1px solid black;*/
}

.imageWrapperRight {
    width: 100%;
    height: 33.33%;
    display:flex;
    /*align-items:center;*/
    justify-content: flex-end;
    /*border: 1px solid black;*/
}

.gameWrapper {
    width: 100%;
    height: 33.33%;
    display:flex;
    align-items:center;
    justify-content:center;
    /*border: 1px solid black;*/
}

.imgValues {
    max-width:100%;
    max-height:80%;
}

.imgValues:hover {
    transform: scale(1.1);
}

.imgValues2 {
    max-width:100%;
    max-height:80%;
}


#p1 {
    background-color: #a3ffcd;
    width:25%;
    float:left;
    height:100%;
}

#p2 {
    background-color: #ff41ba;
    width:25%;
    height:100%;
    float:right;
}

#gb {
    background-color: #ff8193;
    width:50%;
    margin:0 auto;
    height:100%;
    align-items: stretch;
    /*display: flex;*/
    /*justify-content: center; !* align horizontal *!*/
    /*align-items: center; !* align vertical *!*/
}

#countdown {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#result {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#scoreBoard {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#matchup_display1 {
    background-color: #ff3844;
    width:33.33%;
    float:left;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#matchup_display2 {
    background-color: #a536ff;
    width:33.33%;
    margin:0 auto;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#matchup_display3 {
    background-color: #4a91ff;
    width:33.33%;
    height:100%;
    float:right;
    display:flex;
    align-items:center;
    justify-content:center;
}

.matchup_hand {
    max-width:100%;
    max-height:80%;
}

.toggleShake {
    -webkit-animation: shake 1s 4;
    -o-animation: shake 1s 4;
    animation: shake 1s 4;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(0, -2px, 0);
    }

    20%, 80% {
        transform: translate3d(0, 3px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(0, -5px, 0);
    }

    40%, 60% {
        transform: translate3d(0, 5px, 0);
    }
}

